/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #009688;
    --background-color: #FFFFFF;
    --text-color: #37474F;
    --header-bg-color: #00796B;
    --header-text-color: #FFFFFF;
    --button-bg-color: #004D40;
    --button-bg-hover: #003D33;
    --button-text-color: #FFFFFF;
    --link-color: #009688;
    --link-hover-color: #00796B;
    --secondary-color: #B2DFDB;
}

/* Basic styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 20px;
}

/* Links */
a {
    font-weight: bolder;
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}



/* HEADER */

header {
    position: fixed;
    width: 100%;
    background-color: var(--header-bg-color);
    z-index: 10;
    top: 0;
    left: 0;
    padding: 0;
}

h1{
    margin-bottom: 1rem;
    margin: 0 auto;
    text-align: center;
    color: var(--header-text-color);
}

.pageBtn {
    margin-top: 10px;
    height: 50px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button:hover{
    background-color: var(--button-bg-hover);
    transform: scale(1.05); /* Slightly enlarge button on hover */
}


.pages {
    width: 100%;
    /* border: 2px solid red; */
    padding: 20px 20px 0 20px;
    display:flex;
    justify-content: space-between;
    color: var(--header-text-color);
}

.toolbar {
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 5px 10px;
}

.toolbar label {
    padding: 0 20px;
}

.toolbar input[type="number"]{
    width: 50px;
}

#pageSizeApply {
    margin-right: 40px; 
    height: 25px;
    width: 200px;
    font-size: 1em;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* BOOK CARD STYLES*/

article {
    margin-top: 130px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap; /* Allow multiple containers per row */
    gap: 20px; /* Space between containers */
}

.cover {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    margin: auto;
}

.container {
    box-shadow: 0 0 10px var(--header-bg-color);
    flex: 0 0 calc((100% / 3) - 20px); /* Three containers per row, adjust as needed */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.meta {
    overflow: hidden
}

.text {
    padding-left: 20px;
    position: relative;
    overflow: hidden;
}

.about {
    height: 100px;
    overflow: hidden;
}

.title {
    margin-bottom: 1rem;
}


/* TABLE VIEW STYLE */

table {
    width: 100%;
}
table, th, td {
    border: 1px solid;
    padding-left: 20px;
  }

tr {
    height: 30px;
}

.about-cell {
    max-width: 700px;
}

.about-cell-div{

    width: 100%;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* INFO POPUP */

#info{

    background-color: var(--background-color);
    border: 2px solid var(--header-bg-color);
    width: 95%;
    height: 95%;
    position:fixed;
    z-index: 100;
    top: 2.5%;
    left: 2.5%;
    border-radius: 20px;
    margin: auto;
}

#fullSummary {
    font-size: 1.5em;
    padding: 20px;
    margin-top: 20px;
    margin: auto;
    max-width: 800px;
    overflow-y: scroll;
    max-height: 80%;
}

#infoTitle {
    color: var(--text-color);
    margin-top: 30px;
}